# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
node_modules/

# testing
/coverage
lib
lib/

# production
build
build/

# misc
.ci_failed
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.jshintignore
.jshintrc

# Editor
.idea
.idea/

# Log files from building
*.log*

# Packages
apps/**/package-lock.json
apps/**/package-deps.json
